.worldStats-box{
    height: 100%;
    width: 50%;
    display: inline-block;
    
}

.totalNumbers{
    color: rgb(221, 6, 6);
    font-family: 'Nunito';
    width: 60%;
    text-align: center;
   margin-top: 5%;
   
}

.about{
    width: 100%;
    text-align: center;
    color: black;
    
    font-family: 'Nunito';
}


