@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap');


.Global{
    height:auto;
    width: 100%; 
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("../../images/CoronaVirus.jpg");
}

.Global .heading{
    font-size: 3.5rem;
    color: rgb(221, 6, 6);
    font-weight: 700 !important;
    width: 100%;
    text-align: left;
    margin-top: 70px;
    margin-left: 30px;
    }


.Global .description{
    text-align: left;
    font-size: 1vw;
    color: rgb(197, 194, 194,1);
    font-family: "Nunito", sans-serif;
    width: 100%;
    margin-left: 20%;
    margin-top: -10px;
}


.world-stats{
    /* margin: 0px 50px 0 14px; */
    margin-top: 3%;
    width: 80%;
    margin-left: 10%;
    /* text-align: center; */
} 
