.countryDetails{
    height: 85px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin: auto;
    margin-left: 10%;
    margin-top: 1em !important;
}

.country-icon{
    max-width: 10vw;
    min-width: 8vw;
    float: left;
}

.country-flag{
    max-width: 100%;
    height: 100%;
}


.case-details{
    height: 100%;
    width:70%;
    float: left;
    margin-left: 5%;
    display: flex;
  flex-direction:row;
}

.cases-box{
    width: 40%;
}

a{
    color: blue;
    text-decoration: none;
    background-color: transparent;
    font-weight: 800;
    font-size: 2vw;
    font-family: 'Nunito';

}

p{
    color: gray;
    font-weight: 400;
    font-size: 2vw;
    font-family: 'Nunito';

}

p strong{
    color: #3c3c3c;
}