.countries-stats{
    height: auto;
    width: 100%;
    text-align: center;
}

h2{
    font-weight: 700 !important;
    font-family: 'Nunito';
    margin-top: 120px;
    text-align: center;
    font-size: 2rem;
    color:rgba(2, 43, 126, 0.9);
}

.filtering{
    height: 50px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.filtering input{
    height: 100%;
    width:  60%;
    padding-left: 20px;
}

.filtering .sort-by{
    height: 100%;
    width: calc(100%-60%);
    margin-left: 30px;
    padding: 15px;
}