.countries-stats{
    height: auto;
    width: 100%;
    text-align: center;
}

h2{
    font-weight: 700 !important;
    font-family: 'Nunito';
    text-align: center;
    font-size: 6vw;
    margin-top: 5%;
    color:rgba(2, 43, 126, 0.9);
}

.filtering{
    height: 60px;
    width: 100%;
    margin-top: 40px;
}

.filtering input{
    height: 100%;
    width:  68%;
    padding-left: 10px;
    border: 1px solid;
}

.filtering .sort-by{
    height: 100%;
    width: calc(100%-70%);
    border: 1px solid;
    margin-left: 10px;
}